<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>driverId</th>
      <th>driverRef</th>
      <th>number</th>
      <th>code</th>
      <th>forename</th>
      <th>surname</th>
      <th>dob</th>
      <th>nationality</th>
      <th>url</th>
      <th>driverStandingsId</th>
      <th>raceId</th>
      <th>points</th>
      <th>position</th>
      <th>positionText</th>
      <th>wins</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>991</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>5.0</td>
      <td>18.0</td>
      <td>4.0</td>
      <td>5.0</td>
      <td>5</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>992</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13.0</td>
      <td>19.0</td>
      <td>10.0</td>
      <td>4.0</td>
      <td>4</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>993</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>31.0</td>
      <td>20.0</td>
      <td>14.0</td>
      <td>5.0</td>
      <td>5</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>994</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>52.0</td>
      <td>21.0</td>
      <td>14.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>995</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>73.0</td>
      <td>22.0</td>
      <td>14.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>996</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>95.0</td>
      <td>23.0</td>
      <td>15.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>997</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>117.0</td>
      <td>24.0</td>
      <td>15.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>998</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>139.0</td>
      <td>25.0</td>
      <td>20.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>999</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>161.0</td>
      <td>26.0</td>
      <td>24.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1000</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>183.0</td>
      <td>27.0</td>
      <td>28.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1001</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>205.0</td>
      <td>28.0</td>
      <td>38.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1002</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>227.0</td>
      <td>29.0</td>
      <td>43.0</td>
      <td>5.0</td>
      <td>5</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1003</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>249.0</td>
      <td>30.0</td>
      <td>43.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1004</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>271.0</td>
      <td>31.0</td>
      <td>51.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1005</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>293.0</td>
      <td>32.0</td>
      <td>51.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1006</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>315.0</td>
      <td>33.0</td>
      <td>51.0</td>
      <td>6.0</td>
      <td>6</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1007</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>3442.0</td>
      <td>34.0</td>
      <td>51.0</td>
      <td>7.0</td>
      <td>7</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1008</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>359.0</td>
      <td>35.0</td>
      <td>53.0</td>
      <td>7.0</td>
      <td>7</td>
      <td>1.0</td>
    </tr>
    <tr>
      <th>1009</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13622.0</td>
      <td>36.0</td>
      <td>0.0</td>
      <td>10.0</td>
      <td>10</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1010</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13639.0</td>
      <td>37.0</td>
      <td>1.0</td>
      <td>9.0</td>
      <td>9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1011</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13659.0</td>
      <td>38.0</td>
      <td>1.0</td>
      <td>10.0</td>
      <td>10</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1012</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13680.0</td>
      <td>39.0</td>
      <td>3.0</td>
      <td>11.0</td>
      <td>11</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1013</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13702.0</td>
      <td>40.0</td>
      <td>3.0</td>
      <td>11.0</td>
      <td>11</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1014</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13724.0</td>
      <td>41.0</td>
      <td>8.0</td>
      <td>9.0</td>
      <td>9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1015</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13746.0</td>
      <td>42.0</td>
      <td>12.0</td>
      <td>8.0</td>
      <td>8</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1016</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13769.0</td>
      <td>43.0</td>
      <td>12.0</td>
      <td>8.0</td>
      <td>8</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1017</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13792.0</td>
      <td>44.0</td>
      <td>14.0</td>
      <td>8.0</td>
      <td>8</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1018</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13815.0</td>
      <td>45.0</td>
      <td>15.0</td>
      <td>8.0</td>
      <td>8</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1019</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13838.0</td>
      <td>46.0</td>
      <td>16.0</td>
      <td>8.0</td>
      <td>8</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1020</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13861.0</td>
      <td>47.0</td>
      <td>19.0</td>
      <td>7.0</td>
      <td>7</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1021</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13885.0</td>
      <td>48.0</td>
      <td>21.0</td>
      <td>7.0</td>
      <td>7</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1022</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13909.0</td>
      <td>49.0</td>
      <td>22.0</td>
      <td>7.0</td>
      <td>7</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1023</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13933.0</td>
      <td>50.0</td>
      <td>30.0</td>
      <td>7.0</td>
      <td>7</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1024</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13957.0</td>
      <td>51.0</td>
      <td>30.0</td>
      <td>7.0</td>
      <td>7</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1025</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>13981.0</td>
      <td>52.0</td>
      <td>30.0</td>
      <td>7.0</td>
      <td>7</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1026</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17669.0</td>
      <td>2.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1027</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17729.0</td>
      <td>3.0</td>
      <td>4.0</td>
      <td>9.0</td>
      <td>9</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1028</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17769.0</td>
      <td>4.0</td>
      <td>4.0</td>
      <td>10.0</td>
      <td>10</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1029</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17789.0</td>
      <td>5.0</td>
      <td>4.0</td>
      <td>11.0</td>
      <td>11</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1030</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17949.0</td>
      <td>6.0</td>
      <td>4.0</td>
      <td>13.0</td>
      <td>13</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1031</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17889.0</td>
      <td>7.0</td>
      <td>4.0</td>
      <td>13.0</td>
      <td>13</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1032</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17929.0</td>
      <td>8.0</td>
      <td>4.0</td>
      <td>13.0</td>
      <td>13</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1033</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17969.0</td>
      <td>9.0</td>
      <td>5.0</td>
      <td>13.0</td>
      <td>13</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1034</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>17989.0</td>
      <td>10.0</td>
      <td>9.0</td>
      <td>12.0</td>
      <td>12</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1035</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>18010.0</td>
      <td>11.0</td>
      <td>14.0</td>
      <td>12.0</td>
      <td>12</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1036</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>18033.0</td>
      <td>12.0</td>
      <td>17.0</td>
      <td>10.0</td>
      <td>10</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1037</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>18056.0</td>
      <td>13.0</td>
      <td>20.0</td>
      <td>10.0</td>
      <td>10</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1038</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>18080.0</td>
      <td>14.0</td>
      <td>22.0</td>
      <td>12.0</td>
      <td>12</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1039</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>18128.0</td>
      <td>15.0</td>
      <td>22.0</td>
      <td>12.0</td>
      <td>12</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1040</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>18152.0</td>
      <td>16.0</td>
      <td>22.0</td>
      <td>12.0</td>
      <td>12</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1041</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>29881.0</td>
      <td>17.0</td>
      <td>22.0</td>
      <td>12.0</td>
      <td>12</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1042</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63751.0</td>
      <td>337.0</td>
      <td>0.0</td>
      <td>15.0</td>
      <td>15</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1043</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63775.0</td>
      <td>338.0</td>
      <td>0.0</td>
      <td>15.0</td>
      <td>15</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1044</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63799.0</td>
      <td>339.0</td>
      <td>0.0</td>
      <td>17.0</td>
      <td>17</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1045</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63823.0</td>
      <td>340.0</td>
      <td>0.0</td>
      <td>18.0</td>
      <td>18</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1046</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63847.0</td>
      <td>341.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1047</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63895.0</td>
      <td>342.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1048</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63919.0</td>
      <td>343.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1049</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63943.0</td>
      <td>344.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1050</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63967.0</td>
      <td>345.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1051</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>63991.0</td>
      <td>346.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1052</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64016.0</td>
      <td>347.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1053</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64041.0</td>
      <td>348.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1054</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64066.0</td>
      <td>349.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1055</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64091.0</td>
      <td>350.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1056</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64170.0</td>
      <td>351.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1057</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64197.0</td>
      <td>352.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1058</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64251.0</td>
      <td>353.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1059</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64278.0</td>
      <td>354.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1060</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64305.0</td>
      <td>355.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1061</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64707.0</td>
      <td>841.0</td>
      <td>0.0</td>
      <td>18.0</td>
      <td>18</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1062</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64401.0</td>
      <td>842.0</td>
      <td>0.0</td>
      <td>18.0</td>
      <td>18</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1063</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64425.0</td>
      <td>843.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1064</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64449.0</td>
      <td>844.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1065</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64473.0</td>
      <td>845.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1066</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64497.0</td>
      <td>846.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1067</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64521.0</td>
      <td>847.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1068</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64546.0</td>
      <td>848.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1069</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64571.0</td>
      <td>849.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1070</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64597.0</td>
      <td>850.0</td>
      <td>0.0</td>
      <td>23.0</td>
      <td>23</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1071</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64624.0</td>
      <td>851.0</td>
      <td>0.0</td>
      <td>23.0</td>
      <td>23</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1072</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64679.0</td>
      <td>852.0</td>
      <td>0.0</td>
      <td>24.0</td>
      <td>24</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1073</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64727.0</td>
      <td>853.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1074</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64755.0</td>
      <td>854.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1075</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64783.0</td>
      <td>855.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1076</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64811.0</td>
      <td>856.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1077</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64839.0</td>
      <td>857.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1078</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64867.0</td>
      <td>858.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1079</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64895.0</td>
      <td>859.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1080</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64993.0</td>
      <td>860.0</td>
      <td>0.0</td>
      <td>18.0</td>
      <td>18</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1081</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64945.0</td>
      <td>861.0</td>
      <td>0.0</td>
      <td>21.0</td>
      <td>21</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1082</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>64969.0</td>
      <td>862.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1083</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65017.0</td>
      <td>863.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1084</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65041.0</td>
      <td>864.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1085</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65065.0</td>
      <td>865.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1086</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65089.0</td>
      <td>866.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1087</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65113.0</td>
      <td>867.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1088</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65137.0</td>
      <td>868.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1089</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65185.0</td>
      <td>869.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1090</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65209.0</td>
      <td>870.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1091</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65233.0</td>
      <td>871.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1092</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65257.0</td>
      <td>872.0</td>
      <td>0.0</td>
      <td>19.0</td>
      <td>19</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1093</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65357.0</td>
      <td>873.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1094</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65382.0</td>
      <td>874.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1095</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65407.0</td>
      <td>875.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1096</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65432.0</td>
      <td>876.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1097</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65457.0</td>
      <td>877.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1098</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65482.0</td>
      <td>878.0</td>
      <td>0.0</td>
      <td>20.0</td>
      <td>20</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1099</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65507.0</td>
      <td>879.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1100</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65955.0</td>
      <td>898.0</td>
      <td>0.0</td>
      <td>23.0</td>
      <td>23</td>
      <td>0.0</td>
    </tr>
    <tr>
      <th>1101</th>
      <td>5</td>
      <td>kovalainen</td>
      <td>\N</td>
      <td>KOV</td>
      <td>Heikki</td>
      <td>Kovalainen</td>
      <td>1981-10-19</td>
      <td>Finnish</td>
      <td>http://en.wikipedia.org/wiki/Heikki_Kovalainen</td>
      <td>65978.0</td>
      <td>899.0</td>
      <td>0.0</td>
      <td>22.0</td>
      <td>22</td>
      <td>0.0</td>
    </tr>
  </tbody>
</table>